<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>PlayName</key>
		<string>竞彩足球</string>
		<key>lottery_pk</key>
		<string>15</string>
		<key>is_hide</key>
		<string>NO</string>
	</dict>
	<dict>
		<key>PlayName</key>
		<string>胜负14场</string>
		<key>lottery_pk</key>
		<integer>3</integer>
		<key>is_hide</key>
		<false/>
	</dict>
	<dict>
		<key>PlayName</key>
		<string>任选9场</string>
		<key>lottery_pk</key>
		<integer>4</integer>
		<key>is_hide</key>
		<false/>
	</dict>
	<dict>
		<key>PlayName</key>
		<string>半全场胜负</string>
		<key>lottery_pk</key>
		<integer>8</integer>
		<key>is_hide</key>
		<false/>
	</dict>
	<dict>
		<key>PlayName</key>
		<string>4场进球</string>
		<key>lottery_pk</key>
		<integer>7</integer>
		<key>is_hide</key>
		<false/>
	</dict>
	<dict>
		<key>PlayName</key>
		<string>大乐透</string>
		<key>lottery_pk</key>
		<integer>6</integer>
		<key>is_hide</key>
		<false/>
	</dict>
	<dict>
		<key>PlayName</key>
		<string>七星彩</string>
		<key>lottery_pk</key>
		<integer>1</integer>
		<key>is_hide</key>
		<false/>
	</dict>
	<dict>
		<key>PlayName</key>
		<string>排列3</string>
		<key>lottery_pk</key>
		<integer>2</integer>
		<key>is_hide</key>
		<false/>
	</dict>
	<dict>
		<key>PlayName</key>
		<string>排列5</string>
		<key>lottery_pk</key>
		<integer>5</integer>
		<key>is_hide</key>
		<false/>
	</dict>
	<dict>
		<key>PlayName</key>
		<string>双色球</string>
		<key>lottery_pk</key>
		<string>31</string>
	</dict>
	<dict>
		<key>PlayName</key>
		<string>22选5</string>
		<key>lottery_pk</key>
		<string>52</string>
	</dict>
	<dict>
		<key>PlayName</key>
		<string>31选7</string>
		<key>lottery_pk</key>
		<string>51</string>
	</dict>
	<dict>
		<key>PlayName</key>
		<string>36选7</string>
		<key>lottery_pk</key>
		<string>50</string>
	</dict>
</array>
</plist>
