<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100</key>
	<string>/fjydtc/client/version</string>
	<key>102</key>
	<string>/fjydtc/client/customer/info/register</string>
	<key>103</key>
	<string>/fjydtc/client/customer/info/modify</string>
	<key>105</key>
	<string>/fjydtc/client/customer/bank/modify</string>
	<key>106</key>
	<string>/fjydtc/client/customer/bank/query</string>
	<key>108</key>
	<string>/fjydtc/client/sms</string>
	<key>110</key>
	<string>/fjydtc/client/customer/login</string>
	<key>111</key>
	<string>/fjydtc/client/customer/logout</string>
	<key>112</key>
	<string>/fjydtc/client/customer/pwd/modify</string>
	<key>113</key>
	<string>/fjydtc/client/customer/pwd/reset</string>
	<key>114</key>
	<string>/fjydtc/client/customer/account/balance</string>
	<key>115</key>
	<string>/fjydtc/client/customer/account/record</string>
	<key>116</key>
	<string>/fjydtc/client/customer/info/query</string>
	<key>120</key>
	<string>/fjydtc/client/buy/record</string>
	<key>121</key>
	<string>/fjydtc/client/win/record</string>
	<key>122</key>
	<string>/fjydtc/client/award/record/detail</string>
	<key>123</key>
	<string>/fjydtc/client/lottery/period</string>
	<key>124</key>
	<string>/fjydtc/client/lottery/football/team</string>
	<key>125</key>
	<string>/fjydtc/client/buy/define/record</string>
	<key>126</key>
	<string>/fjydtc/client/present/record</string>
	<key>127</key>
	<string>/fjydtc/client/award/record</string>
	<key>128</key>
	<string>/fjydtc/client/award/record/html</string>
	<key>130</key>
	<string>/fjydtc/client/analysis/ylz</string>
	<key>131</key>
	<string>/fjydtc/client/favorites/save</string>
	<key>132</key>
	<string>/fjydtc/client/favorites/record</string>
	<key>133</key>
	<string>/fjydtc/client/favorites/cancel</string>
	<key>140</key>
	<string>/fjydtc/client/ios/buy</string>
	<key>142</key>
	<string>/fjydtc/client/buy/define/cancel</string>
	<key>143</key>
	<string>/fjydtc/client/buy/batch</string>
	<key>144</key>
	<string>/fjydtc/client/buy/define/random</string>
	<key>145</key>
	<string>/fjydtc/client/lottery/jczq/query</string>
	<key>146</key>
	<string>/fjydtc/client/lottery/jczq/award</string>
	<key>151</key>
	<string>/fjydtc/client/trans/bank/save</string>
	<key>152</key>
	<string>/fjydtc/client/temp/recharge</string>
	<key>153</key>
	<string>/fjydtc/client/alipay/mobile</string>
	<key>154</key>
	<string>/fjydtc/client/unionpay/mobile/online</string>
	<key>155</key>
	<string>/fjydtc/client/recharge/cancel</string>
	<key>156</key>
	<string>/fjydtc/client/alipay/wap</string>
	<key>157</key>
	<string>/fjydtc/client/unionpay/mobile/ivr</string>
	<key>158</key>
	<string>/fjydtc/client/trans/mobilepay/save</string>
	<key>161</key>
	<string>/fjydtc/client/news/title</string>
	<key>163</key>
	<string>/fjydtc/client/news/concent/html</string>
	<key>164</key>
	<string>/fjydtc/client/news/concent/number</string>
	<key>170</key>
	<string>/fjydtc/client/advice</string>
	<key>171</key>
	<string>/fjydtc/client/help/html</string>
	<key>172</key>
	<string>/fjydtc/client/scroll/advert</string>
	<key>180</key>
	<string>/fjydtc/client/racecar/video</string>
	<key>300</key>
	<string>/fjydtc/client/alipay/mobilepay</string>
	<key>301</key>
	<string>/fjydtc/client/alipay/wap</string>
	<key>302</key>
	<string>/fjydtc/client/alipay/trans</string>
</dict>
</plist>
