<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>PlayName</key>
		<string>七星彩</string>
		<key>SmallIcon</key>
		<string>sy_12.png</string>
		<key>ViewController</key>
		<string>SenStarPotteryViewController</string>
	</dict>
	<key>2</key>
	<dict>
		<key>PlayName</key>
		<string>排列3</string>
		<key>SmallIcon</key>
		<string>sy_13.png</string>
		<key>ViewController</key>
		<string>PL3ViewController</string>
	</dict>
	<key>3</key>
	<dict>
		<key>PlayName</key>
		<string>胜负14场</string>
		<key>SmallIcon</key>
		<string>sy_7.png</string>
		<key>ViewController</key>
		<string>WinLost14ViewController</string>
	</dict>
	<key>4</key>
	<dict>
		<key>PlayName</key>
		<string>任选9场</string>
		<key>SmallIcon</key>
		<string>sy_8.png</string>
		<key>ViewController</key>
		<string>Any9ViewController</string>
	</dict>
	<key>5</key>
	<dict>
		<key>PlayName</key>
		<string>排列5</string>
		<key>SmallIcon</key>
		<string>sy_14.png</string>
		<key>ViewController</key>
		<string>PL5ViewController</string>
	</dict>
	<key>6</key>
	<dict>
		<key>PlayName</key>
		<string>大乐透</string>
		<key>SmallIcon</key>
		<string>sy_11.png</string>
		<key>ViewController</key>
		<string>DLTViewController</string>
	</dict>
	<key>7</key>
	<dict>
		<key>PlayName</key>
		<string>4场进球</string>
		<key>SmallIcon</key>
		<string>sy_10.png</string>
		<key>ViewController</key>
		<string>Enter4ViewController</string>
	</dict>
	<key>8</key>
	<dict>
		<key>PlayName</key>
		<string>半全场胜负</string>
		<key>SmallIcon</key>
		<string>sy_9.png</string>
		<key>ViewController</key>
		<string>HalfWinViewController</string>
	</dict>
	<key>31</key>
	<dict>
		<key>PlayName</key>
		<string>双色球</string>
		<key>SmallIcon</key>
		<string>sy_18.png</string>
		<key>ViewController</key>
		<string>SSQViewController</string>
	</dict>
	<key>15</key>
	<dict>
		<key>PlayName</key>
		<string>竞彩足球</string>
		<key>SmallIcon</key>
		<string>sy_rqsfp.png</string>
	</dict>
	<key>50</key>
	<dict>
		<key>PlayName</key>
		<string>36选7</string>
		<key>SmallIcon</key>
		<string>sy_15.png</string>
		<key>ViewController</key>
		<string>T367ViewController</string>
	</dict>
	<key>51</key>
	<dict>
		<key>PlayName</key>
		<string>31选7</string>
		<key>SmallIcon</key>
		<string>sy_16.png</string>
		<key>ViewController</key>
		<string>T317ViewController</string>
	</dict>
	<key>52</key>
	<dict>
		<key>PlayName</key>
		<string>22选5</string>
		<key>SmallIcon</key>
		<string>sy_17.png</string>
		<key>ViewController</key>
		<string>T225ViewController</string>
	</dict>
</dict>
</plist>
