<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bankID</key>
		<string>0</string>
		<key>bankName</key>
		<string>未定义</string>
	</dict>
	<dict>
		<key>bankID</key>
		<string>1</string>
		<key>bankName</key>
		<string>中国工商银行</string>
	</dict>
	<dict>
		<key>bankID</key>
		<string>2</string>
		<key>bankName</key>
		<string>中国农业银行</string>
	</dict>
	<dict>
		<key>bankID</key>
		<string>3</string>
		<key>bankName</key>
		<string>中国建设银行</string>
	</dict>
	<dict>
		<key>bankID</key>
		<string>4</string>
		<key>bankName</key>
		<string>交通银行</string>
	</dict>
	<dict>
		<key>bankID</key>
		<string>5</string>
		<key>bankName</key>
		<string>招商银行</string>
	</dict>
	<dict>
		<key>bankID</key>
		<string>6</string>
		<key>bankName</key>
		<string>中国民生银行</string>
	</dict>
	<dict>
		<key>bankID</key>
		<string>7</string>
		<key>bankName</key>
		<string>中信银行</string>
	</dict>
	<dict>
		<key>bankID</key>
		<string>8</string>
		<key>bankName</key>
		<string>广东发展银行</string>
	</dict>
	<dict>
		<key>bankID</key>
		<string>9</string>
		<key>bankName</key>
		<string>深发展银行</string>
	</dict>
	<dict>
		<key>bankID</key>
		<string>10</string>
		<key>bankName</key>
		<string>兴业银行</string>
	</dict>
	<dict>
		<key>bankID</key>
		<string>11</string>
		<key>bankName</key>
		<string>中国光大银行</string>
	</dict>
	<dict>
		<key>bankID</key>
		<string>12</string>
		<key>bankName</key>
		<string>中国平安银行</string>
	</dict>
	<dict>
		<key>bankID</key>
		<string>13</string>
		<key>bankName</key>
		<string>邮储</string>
	</dict>
	<dict>
		<key>bankID</key>
		<string>14</string>
		<key>bankName</key>
		<string>中国银行</string>
	</dict>
</array>
</plist>
