<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainList</key>
	<array>
		<dict>
			<key>headerTitle</key>
			<string>竞彩足球</string>
			<key>row</key>
			<array>
				<dict>
					<key>title</key>
					<string>胜平负</string>
					<key>image</key>
					<string>jczq_1.png</string>
				</dict>
				<dict>
					<key>title</key>
					<string>让球胜平负</string>
					<key>image</key>
					<string>jczq_2.png</string>
				</dict>
				<dict>
					<key>title</key>
					<string>比分</string>
					<key>image</key>
					<string>jczq_3.png</string>
				</dict>
				<dict>
					<key>title</key>
					<string>半全场</string>
					<key>image</key>
					<string>jczq_4.png</string>
				</dict>
				<dict>
					<key>title</key>
					<string>进球数</string>
					<key>image</key>
					<string>jczq_5.png</string>
				</dict>
				<dict>
					<key>title</key>
					<string>混合过关</string>
					<key>image</key>
					<string>jczq_6.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>headerTitle</key>
			<string>传统足球</string>
			<key>row</key>
			<array>
				<dict>
					<key>title</key>
					<string>胜负14场</string>
					<key>image</key>
					<string>sy_7.png</string>
					<key>viewController</key>
					<string>CTFB14ViewController</string>
				</dict>
				<dict>
					<key>title</key>
					<string>任选9场</string>
					<key>image</key>
					<string>sy_8.png</string>
					<key>viewController</key>
					<string>CTFB9ViewController</string>
				</dict>
				<dict>
					<key>title</key>
					<string>6场半全场</string>
					<key>image</key>
					<string>sy_9.png</string>
					<key>viewController</key>
					<string>CTFB6CBQCViewController</string>
				</dict>
				<dict>
					<key>title</key>
					<string>4场进球</string>
					<key>image</key>
					<string>sy_10.png</string>
					<key>viewController</key>
					<string>CTFB4CJQViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>headerTitle</key>
			<string>乐透数字</string>
			<key>row</key>
			<array>
				<dict>
					<key>title</key>
					<string>大乐透</string>
					<key>image</key>
					<string>sy_11.png</string>
				</dict>
				<dict>
					<key>title</key>
					<string>双色球</string>
					<key>image</key>
					<string>sy_18.png</string>
				</dict>
				<dict>
					<key>title</key>
					<string>七星彩</string>
					<key>image</key>
					<string>sy_12.png</string>
				</dict>
				<dict>
					<key>title</key>
					<string>排列3</string>
					<key>image</key>
					<string>sy_13.png</string>
				</dict>
				<dict>
					<key>title</key>
					<string>排列5</string>
					<key>image</key>
					<string>sy_14.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>headerTitle</key>
			<string>地 方 彩</string>
			<key>row</key>
			<array>
				<dict>
					<key>title</key>
					<string>22选5</string>
					<key>image</key>
					<string>sy_17.png</string>
				</dict>
				<dict>
					<key>title</key>
					<string>31选7</string>
					<key>image</key>
					<string>sy_16.png</string>
				</dict>
				<dict>
					<key>title</key>
					<string>36选7</string>
					<key>image</key>
					<string>sy_15.png</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>MainTab</key>
	<array>
		<dict>
			<key>title</key>
			<string>大厅</string>
			<key>image</key>
			<string>index_Default1.png</string>
			<key>highlightedImage</key>
			<string>index_Selected1.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>开奖号码</string>
			<key>image</key>
			<string>index_Default2.png</string>
			<key>highlightedImage</key>
			<string>index_Selected2.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>个人中心</string>
			<key>image</key>
			<string>index_Default3.png</string>
			<key>highlightedImage</key>
			<string>index_Selected3.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>活动</string>
			<key>image</key>
			<string>index_Default4.png</string>
			<key>highlightedImage</key>
			<string>index_Selected4.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>更多</string>
			<key>image</key>
			<string>index_Default5.png</string>
			<key>highlightedImage</key>
			<string>index_Selected5.png</string>
		</dict>
	</array>
	<key>MoreDatas</key>
	<array>
		<dict>
			<key>title</key>
			<string>帮助指南</string>
			<key>image</key>
			<string>gd_1.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>检查更新</string>
			<key>image</key>
			<string>gd_2.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>关于我们</string>
			<key>image</key>
			<string>gd_3.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>分享推荐</string>
			<key>image</key>
			<string>gd_4.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>客服电话</string>
			<key>image</key>
			<string>gd_5.png</string>
		</dict>
	</array>
	<key>Lottery_JCZQ</key>
	<array>
		<dict>
			<key>title</key>
			<string>胜平负</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>让球胜平负</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>比分</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>半全场</string>
			<key>type</key>
			<string>3</string>
		</dict>
		<dict>
			<key>title</key>
			<string>进球数</string>
			<key>type</key>
			<string>4</string>
		</dict>
		<dict>
			<key>title</key>
			<string>混合过关</string>
			<key>type</key>
			<string>5</string>
		</dict>
	</array>
</dict>
</plist>
