<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2</key>
	<dict>
		<key>bettings1</key>
		<array>
			<dict>
				<key>title</key>
				<string>2串1</string>
				<key>code_id</key>
				<string>0201</string>
				<key>scheme</key>
				<array>
					<integer>2</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>3</key>
	<dict>
		<key>bettings1</key>
		<array>
			<dict>
				<key>title</key>
				<string>3串1</string>
				<key>code_id</key>
				<string>0301</string>
				<key>scheme</key>
				<array>
					<integer>3</integer>
				</array>
			</dict>
		</array>
		<key>bettings2</key>
		<array>
			<dict>
				<key>title</key>
				<string>3串3</string>
				<key>code_id</key>
				<string>0303</string>
				<key>scheme</key>
				<array>
					<integer>2</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>3串4</string>
				<key>code_id</key>
				<string>0304</string>
				<key>scheme</key>
				<array>
					<integer>2</integer>
					<integer>3</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>4</key>
	<dict>
		<key>bettings1</key>
		<array>
			<dict>
				<key>title</key>
				<string>4串1</string>
				<key>code_id</key>
				<string>0401</string>
				<key>scheme</key>
				<array>
					<integer>4</integer>
				</array>
			</dict>
		</array>
		<key>bettings2</key>
		<array>
			<dict>
				<key>title</key>
				<string>4串4</string>
				<key>code_id</key>
				<string>0404</string>
				<key>scheme</key>
				<array>
					<integer>3</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>4串5</string>
				<key>code_id</key>
				<string>0405</string>
				<key>scheme</key>
				<array>
					<integer>3</integer>
					<integer>4</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>4串6</string>
				<key>code_id</key>
				<string>0406</string>
				<key>scheme</key>
				<array>
					<integer>2</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>4串11</string>
				<key>code_id</key>
				<string>04011</string>
				<key>scheme</key>
				<array>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>5</key>
	<dict>
		<key>bettings1</key>
		<array>
			<dict>
				<key>title</key>
				<string>5串1</string>
				<key>code_id</key>
				<string>0501</string>
				<key>scheme</key>
				<array>
					<integer>5</integer>
				</array>
			</dict>
		</array>
		<key>bettings2</key>
		<array>
			<dict>
				<key>title</key>
				<string>5串5</string>
				<key>code_id</key>
				<string>0505</string>
				<key>scheme</key>
				<array>
					<integer>4</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>5串6</string>
				<key>code_id</key>
				<string>0506</string>
				<key>scheme</key>
				<array>
					<integer>4</integer>
					<integer>5</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>5串10</string>
				<key>code_id</key>
				<string>05010</string>
				<key>scheme</key>
				<array>
					<integer>2</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>5串16</string>
				<key>code_id</key>
				<string>05016</string>
				<key>scheme</key>
				<array>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>5串20</string>
				<key>code_id</key>
				<string>05020</string>
				<key>scheme</key>
				<array>
					<integer>2</integer>
					<integer>3</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>5串26</string>
				<key>code_id</key>
				<string>05026</string>
				<key>scheme</key>
				<array>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>6</key>
	<dict>
		<key>bettings1</key>
		<array>
			<dict>
				<key>title</key>
				<string>6串1</string>
				<key>code_id</key>
				<string>0601</string>
				<key>scheme</key>
				<array>
					<integer>6</integer>
				</array>
			</dict>
		</array>
		<key>bettings2</key>
		<array>
			<dict>
				<key>title</key>
				<string>6串6</string>
				<key>code_id</key>
				<string>0606</string>
				<key>scheme</key>
				<array>
					<integer>5</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>6串7</string>
				<key>code_id</key>
				<string>0607</string>
				<key>scheme</key>
				<array>
					<integer>5</integer>
					<integer>6</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>6串15</string>
				<key>code_id</key>
				<string>06015</string>
				<key>scheme</key>
				<array>
					<integer>2</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>6串20</string>
				<key>code_id</key>
				<string>06020</string>
				<key>scheme</key>
				<array>
					<integer>3</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>6串22</string>
				<key>code_id</key>
				<string>06022</string>
				<key>scheme</key>
				<array>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>6串35</string>
				<key>code_id</key>
				<string>06035</string>
				<key>scheme</key>
				<array>
					<integer>2</integer>
					<integer>3</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>6串42</string>
				<key>code_id</key>
				<string>06042</string>
				<key>scheme</key>
				<array>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>6串50</string>
				<key>code_id</key>
				<string>06050</string>
				<key>scheme</key>
				<array>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>6串57</string>
				<key>code_id</key>
				<string>06057</string>
				<key>scheme</key>
				<array>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>7</key>
	<dict>
		<key>bettings1</key>
		<array>
			<dict>
				<key>title</key>
				<string>7串1</string>
				<key>code_id</key>
				<string>0701</string>
				<key>scheme</key>
				<array>
					<integer>7</integer>
				</array>
			</dict>
		</array>
		<key>bettings2</key>
		<array>
			<dict>
				<key>title</key>
				<string>7串7</string>
				<key>code_id</key>
				<string>0707</string>
				<key>scheme</key>
				<array>
					<integer>6</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>7串8</string>
				<key>code_id</key>
				<string>0708</string>
				<key>scheme</key>
				<array>
					<integer>6</integer>
					<integer>7</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>7串21</string>
				<key>code_id</key>
				<string>07021</string>
				<key>scheme</key>
				<array>
					<integer>5</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>7串35</string>
				<key>code_id</key>
				<string>07035</string>
				<key>scheme</key>
				<array>
					<integer>4</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>7串120</string>
				<key>code_id</key>
				<string>07120</string>
				<key>scheme</key>
				<array>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
					<integer>7</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>8</key>
	<dict>
		<key>bettings1</key>
		<array>
			<dict>
				<key>title</key>
				<string>8串1</string>
				<key>code_id</key>
				<string>0801</string>
				<key>scheme</key>
				<array>
					<integer>8</integer>
				</array>
			</dict>
		</array>
		<key>bettings2</key>
		<array>
			<dict>
				<key>title</key>
				<string>8串8</string>
				<key>code_id</key>
				<string>0808</string>
				<key>scheme</key>
				<array>
					<integer>7</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>8串9</string>
				<key>code_id</key>
				<string>0809</string>
				<key>scheme</key>
				<array>
					<integer>7</integer>
					<integer>8</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>8串28</string>
				<key>code_id</key>
				<string>08028</string>
				<key>scheme</key>
				<array>
					<integer>6</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>8串56</string>
				<key>code_id</key>
				<string>08056</string>
				<key>scheme</key>
				<array>
					<integer>5</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>8串70</string>
				<key>code_id</key>
				<string>08070</string>
				<key>scheme</key>
				<array>
					<integer>4</integer>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>8串247</string>
				<key>code_id</key>
				<string>08247</string>
				<key>scheme</key>
				<array>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
					<integer>7</integer>
					<integer>8</integer>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
